.menu-top{
  background-color: #2C3E50;
  color: white;
  font-size: 15px;
  min-height: 40px;
}

.jumbotron,
.about{
  background-color: #1ABC9C;
  min-height: 300px;
  color: white;
  padding: 15px 0;
}


.portfolio{
  padding: 50px;
}

.portfolio div{
  padding: 5%;
  margin-top: 25px;
}

.img-1{
  background-color: #BA4B63;
}
.img-2{
  background-color: #1EA4B6;
}
.img-3{
  background-color: #140F0F;
}
.img-4{
  background-color:#1C83C1 ;
}
.img-5{
  background-color:#0E38B5;
}
.img-6{
  background-color:#CCB2A3;
}

.about div{
  padding: 2% 5%;
}

.form div{
  margin: 2% 0;
}

.info{
  padding: 5%;
}

.info div{
  background-color: tomato;
  height: 50px;
  padding: 2%;
  margin: 1%;
}